*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/*----------------navbar-section----------------*/

h3{
    padding-right: 39px;
}
.container-fluid{
    display: flex;
    flex-direction: row;
}

.navbar-collapse{
    display: flex;
    flex-direction: row;
}

.navbar-header{
    padding: 20px 30px;
}
.navbar-header a{
    color: rgb(8, 8, 8);
    font-size: 50px;
    font-family: 'Pushster', cursive;
    padding-left: 30%;
    text-decoration: none;
}

.navbar-collapse{
    padding-left: 42%;
}

.navbar-collapse ul li{
    float: right;  
}

.navbar-collapse ul {
    list-style-type: none;
    
    padding-left: 0%;
    
}
.navbar-collapse ul li a{
    color: rgb(7, 7, 7);
    font-size: 20px;
    text-align: center;
    letter-spacing: .9px;
    font-weight: 700;
    text-decoration: none;
    padding: 30px 13px;
    display: block;
    
}
.navbar-collapse li a:hover{
    border-bottom: 3.5px solid white;
    background: transparent;
    color: rgb(78, 65, 187);
    text-decoration: underline;
    transform: translateY(-5px);
}

/*------------------------------------into------------------------------------*/
.content{ 
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.intro {
    margin-left: 8%;
    margin-top: 3px;
}

.intro h1{
    font-size: 72px;
    color: black;
    margin-bottom: 20px;

}

.intro h1 span{
    color: rgb(78, 40, 218);
    position: relative;
}

.intro h1 span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 110%;
    width: 100%;
    background: white;
    border-left: 2px solid rgb(78, 40, 218);
    animation: typing 2.5s steps(11) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
.intro p{
    color: rgb(44, 43, 43);
    line-height: 22px;
    font-size: 30px;
    font-weight: bold;
}

.intro p::after{
    content: 'Persuing Btech CSE';
    animation: text 10s infinite;
}

@keyframes text {
    50%{
        content: 'Frontend Web Designer';
    }
    65%{
        content: 'Redhat Certified Engineer';
    }
    100%{
        content: 'Intersted in Devops';
    }
}

.intro a{
    background: rgb(27, 24, 24);
    padding: 14px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 20px;
}

.images{
    width: 45%;
    height: 94%;
    position: absolute;
    bottom: 0;
    right: 100px;
}


.images img{
    
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.back{
    height: 80%;
    width: 80%;
}

.girl{
    height: 70%;
}
.images:hover .back{
    bottom: 30px;
}

.images:hover .girl{
    left: 48%;
}

/*------------------------------------about------------------------------------*/
.title{
    text-align: center;
    font-weight: bolder;
    font-size: 7vh;
    color: black;
    margin-top: 6%;
}

.title::before {
    content: '';
    width: 300px;
    height: 5px;
    background: rgb(78, 40, 218);
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after {
    content: '';
    width: 100px;
    height: 8px;
    background: rgb(78, 40, 218);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(6px);

}
.about{
    width: 97vw;
    height: 92vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
    margin: auto;
}
.girl-img{
    width: 30%;
    height: 70%;
    background-image: url(images/girl.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;

}
.about-text {
    width: 60%;
    height: 70%;
    animation: slide-up 2s;
}

@keyframes slide-up {
    from{
        opacity: 0.2;
        line-height: 200px;
    }
    to{
        opacity: 1;
        line-height: 25px;
    }
}
.about-text p{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 10%;
    font-family: 'Mate SC', serif;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(78, 40, 218);
    line-height: normal;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.about-text a{
    font-size: 20px;
    background: rgb(27, 24, 24);
    padding: 16px 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 7% 39%;
    border-radius: 5px;
    letter-spacing: 1px;
}

/*------------------------------------skills------------------------------------*/
.skills .title{
    margin-top: 2%;
}
.skills{
    overflow-x: hidden;
    width: 97vw;
    height: 120vh;
    margin: auto;
}
.skills-a, .skills-b{
    width: 97%;
    height: 39%;
    margin: auto ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/*.web, .devops, .cloud, .lang{
    border: solid 2px black;
    height: 10vh;
    width: 30vw;
    border-radius: 75px;
    background-color: rgb(106, 73, 226);
    color: white;
}*/
.web, .devops, .cloud, .lang{
    
    width: 30vw;

}
.web .web-head, .devops .dev-head{
    position: relative;
    padding: 1.7rem 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    background: #222;
    border-bottom: 1px solid #000;
    font-weight: bolder;
    border-radius: 25px;
}
.cloud .cloud-head, .lang .lang-head{
    position: relative;
    padding: 1.7rem 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    background: rgb(17, 17, 17);
    border-bottom: 1px solid #000;
    font-weight: bolder;
    border-radius: 25px;
}
.web .web-head span, .devops .dev-head span{
    position: absolute;
    right: 2rem;
    font-weight: bolder;
}
.cloud .cloud-head span,  .lang .lang-head span{
    position: absolute;
    right: 2rem;
    font-weight: bolder;
}
.loading{
    
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.load-head{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 23px;
    font-weight: bolder;
    font-size: 20px;
}
.progress-bar{
    width: 28rem;
    height: 21px;
    background: #111;
    border-radius: 13px;
    padding: 3px;
    box-sizing: border-box;
    margin-bottom: 2px;
    margin-top: 2%;
}
.progress{
    width: 200px;
    height: 15px;
    background: rgb(78, 40, 218);
    border-radius: 13px;
}

/*------------------------------------Projects------------------------------------*/
.projects{
    height: 110vh;
    width: 98vw;
    
    margin: auto;
    padding: 0%;
    display: flex;
    flex-direction: column;
}
.projects .title{
    margin-top: 1%;
}
.project-a{
    height: 50%;;
    width: 97%;
    margin: auto;
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
}
.project-b{
    height: 50%;;
    width: 97%;
    margin: auto;
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
}

.p-docker, .p-aws, .p-camp,.p-quotos, .p-todo{
    border: solid 2px black;
    height: 16rem;
    width: 16rem;
    margin: auto;
    border-radius: 25px;
    box-shadow: black;
}
.p-quotos{
    margin-left: 24%;
}
.p-todo{
    margin-right: 24%;
}
.p-docker a, .p-aws a, .p-camp a, .p-quotos a, .p-todo a{
    
    padding: 3px 4px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(55, 35, 173);
    display: inline-block;
    margin: 13rem 5rem;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 15px;
}
.p-camp{
    background-image: url(images/sc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}